link {
    display: none;
}
img {
    width: 100%;
    height: auto;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: peachpuff;
    width: 100%;
    text-align: center;
}
header {
    width: 100vh;
}
header ul {
    align-items: center;
}
.logo {
    width: 100vw;
    padding: 1%;
}
nav {
    display: inline-block;
    width: 10vw;
    height: 25px;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
    list-style: none;
    display: inline;
}
li {
    display: inline-block;
    border-right: 1px solid black;
    padding: 5px;
}
li:last-child {
    border-right: none;
}
.heroImg {
    height: 600px;
    padding: 25px;
    align-items: center;
}
.heroImg img[src="images/Me.png"] {
    width: 300px;
    height: 400px;
    float: right;
    padding: 10px;
}
.navigation img[src="images/logo.png"] {
    width: 800px;
    height: 100px;
}
.content {
    width: 500px;
    margin: 0 auto;
    align-items: center;
    line-height: 25px;
    padding: 25px;
}
footer {
    background-color: peachpuff;
    width: 100%;
    padding: 25px;
    text-align: center;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: center;
}
body {
    background-color: peachpuff;
}
button {
    background-color: #9DF6DC;
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
    transition-duration: 0.3s;
    grid-area: hover;
}
button:hover {
    background-color: white;
    border: 1px solid #9DF6DC;
}

.mySkills {
    padding-top: 300px;
    text-align: center;
    flex-direction: row;
}

.flexContainer {
    display: flex;
    width: 100vh;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}
.flexContainer h3 {
    text-align: left;
}
.flexContainer p {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 25px;
}

iconify-icon {
    float: left;
    padding: 15px;
    z-index: 1;
}

.myWork {
    padding-top: 300px;
    text-align: left;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "grid-item1" "grid-item2"
    "grid-item4" "grid-item3"
    ;
    padding-bottom: 300px;
}
.myWork img {
    padding-left: 50px;
    z-index: 1;;
}
.myWork h1 {
    text-align: center;
}
.myWork h3 {
    text-align: center;
}
.grid-item1 {
    padding-left: 25px;
}
.grid-container {
    grid-area: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 600) {
    .grid-container {
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "grid-item1"
        "grid-item2"
        "grid-item3"
        "grid-item4";
    }
    .flexContainer {
        display: flex;
        flex-direction: column;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: peachpuff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}